{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abdullin</title>
    <link rel="stylesheet" href="{% static 'css/style-cv.css' %}">
</head>

<body>
    <header>
        <div class="name">
            <h3 id="curriculum"><i>Curriculum vitae</i></h1>
            <h1 id="name">Ilgiz Abdullin</h1>
        </div>
        <div class="contact">
            <span class="contact-info">
                <img class="icon" src="{% static 'img/russia.png' %}">
                <p class="inline">Russia, Bashkortostan</p>
            </span>
            <span class="contact-info">
                <img class="icon" src="{% static 'img/location.png' %}">
                <p class="inline">Sterlitamak, ZIP 453130</p>
            </span>
            <span class="contact-info">
                <img class="icon" src="{% static 'img/phone.png' %}">
                <p class="inline">+7 (927) 330 23 50</p>
            </span>
            <span class="contact-info">
                <img class="icon" src="{% static 'img/email.png' %}">
                <p class="inline">abdullinilr@gmail.com</p>
            </span>
        </div>
    </header>
    <main>
        <section id="education">
            <div class="flex-cont">
                <span class="left">
                    <div class="line"></div>
                </span>
                <span>
                    <h2 class="section-name">Education</h2>
                </span>
            </div>
            <div class="flex-cont">
                <span class="left">2018-2022</span>
                <span class="right"><strong><a target="_blank"
                            href="https://diploma.spbu.ru/s/?rn=1611002&bd=20000804&h=4e17ea01cad14db38b16ff127419c79a"
                            >Bachelor's Degree.</a></strong> Saint
                    Petersburg State University, Saint Petersburg</span>
            </div>
            <div class="flex-cont">
                <span class="left"></span>
                <span class="right"><strong>Major:</strong> <a target="_blank"
                        href="https://english.spbu.ru/admission/programms/undergraduate/applied-physics-and-mathematics"
                        >Applied Physics and Mathematics</a></span>
            </div>
        </section>
        <section id="skills">
            <div class="flex-cont">
                <span class="left">
                    <div class="line"></div>
                </span>
                <span>
                    <h2 class="section-name">Skills</h2>
                </span>
            </div>
            <div class="flex-cont">
                <span class="left">Stack</span>
                <span class="right">C++ (STL), Python</span>
            </div>
            <div class="flex-cont">
                <span class="left">Familiar with</span>
                <span class="right">LaTeX, Linux, Bash, Git, SQL</span>
            </div>
        </section>
        <section id="academic-accomplishments">
            <div class="flex-cont">
                <span class="left">
                    <div class="line"></div>
                </span>
                <span>
                    <h2 class="section-name">Academic accomplishments</h2>
                </span>
            </div>
            <div class="flex-cont">
                <span class="left"></span>
                <span class="right">
                    <h3 class="sub-section-name">Bachelor paper</h3>
                </span>
            </div>
            <div class="flex-cont">
                <span class="left">2022</span>
                <span class="right"><a target="_blank"
                        href="https://drive.google.com/file/d/1l4FwXs-kWLpmR9BZCDY4pOj-TM4fzJc-/view?usp=sharing"
                        >Monte Carlo simulation of the magnetic properties of 
                        ensembles of nanoparticles.</a></span>
            </div>
            <div class="flex-cont">
                <span class="left">Supervisor</span>
                <span class="right">Associate Professor <a target="_blank"
                        href="https://www.scopus.com/authid/detail.uri?authorId=35231493100"
                        >M.Voznesenskiy</a>, Saint Petersburg State University</span>
            </div>
            <div class="flex-cont">
                <span class="left">Impact</span>
                <span class="right"><a target="_blank" href="https://github.com/abdullinilgiz/BlockTemp"
                    >Monte Carlo methods implementation and data obtaining 
                    using C++</a></span>
            </div>
            <div class="flex-cont">
                <span class="left"></span>
                <span class="right">
                    <h3 class="sub-section-name">Publications</h3>
                </span>
            </div>
            <div class="flex-cont">
                <span class="left">2020</span>
                <span class="right">
                    V.Zeltova et al, <a target="_blank"
                        href="https://www.sciencedirect.com/science/article/abs/pii/S0169433220321097"
                        >"Fe3O4@HAp core–shell nanoparticles as MRI contrast 
                        agent: Synthesis, characterization and theoretical and 
                        experimental study of shell impact on magnetic 
                        properties"</a>, <i>Applied Surface Science</i>.
                </span>
            </div>
            <div class="flex-cont">
                <span class="left">Impact</span>
                <span class="right"
                    >Developed C++ simulation of the experiment</span>
            </div>
        </section>
        <section id="additional-info">
            <div class="flex-cont">
                <span class="left">
                    <div class="line"></div>
                </span>
                <span>
                    <h2 class="section-name">Additional information</h2>
                </span>
            </div>
            <div class="flex-cont">
                <span class="left"></span>
                <span class="right">
                    <h3 class="sub-section-name">Internships</h3>
                </span>
            </div>
            <div class="flex-cont">
                <span class="left">2022</span>
                <span class="right">JINR <a target="_blank"
                        href="https://drive.google.com/file/d/1JKQq3TZsXxlvckP6XZLJhA6LhTr7IglE/view?usp=sharing"
                        >Summer Student Programme</a>, Dubna, Russia</span>
            </div>
            <div class="flex-cont">
                <span class="left"></span>
                <span class="right"><a target="_blank"
                        href="https://drive.google.com/file/d/13SxOD8TrVj70UT4l5jQVa31YU-QBDges/view?usp=sharing"
                        >Worked on data generation and visualization using ROOT
                        (framework based on C++)</a></span>
            </div>
            <div class="flex-cont">
                <span class="left">2021</span>
                <span class="right"><a target="_blank"
                        href="https://drive.google.com/file/d/1IdNNqi1obg8OG-UtJrXtPekf4rdYkkp4/view?usp=sharing"
                        >Virtual Fall School at King Abdullah University of 
                        Science and Technology</a></span>
            </div>
            <div class="flex-cont">
                <span class="left"></span>
                <span class="right"><a target="_blank"
                        href="https://drive.google.com/file/d/1N1ngeuyDO9X1Z4SvpyZYhMrM04V4M4Zb/view?usp=sharing"
                        >Differential equation solving and modellin using UG4 
                        (framework based on C++)</a></span>
            </div>
            <div class="flex-cont">
                <span class="left"></span>
                <span class="right">
                    <h3 class="sub-section-name">Coursera.org</h3>
                </span>
            </div>
            <div class="flex-cont">
                <span class="left">Course</span>
                <span class="right">C++ development by MIPT and Yandex</span>
            </div>
            <div class="flex-cont">
                <span class="left">Completed</span>
                <span class="right"><a target="_blank"
                        href="https://coursera.org/share/6d3f58d9127f012d7e2d2f61f26b1b02"
                        >3rd part of specialization, course by MIPT and Yandex,
                         315 hours;</a></span>
            </div>
            <div class="flex-cont">
                <span class="left">Currently</span>
                <span class="right"
                    >C++ development: 4th part , 133 hours</span>
            </div>

        </section>
        <section id="personal-info">
            <div class="flex-cont">
                <span class="left">
                    <div class="line"></div>
                </span>
                <span>
                    <h2 class="section-name">Pesonal information</h2>
                </span>
            </div>
            <div class="flex-cont">
                <span class="left">Languages</span>
                <span class="right">English (B2), Russian (Native)</span>
            </div>
            <div class="flex-cont">
            </div>
        </section>
    </main>
    <footer>
        <div class="line" id="footer-line">
        </div>
        <div class="flex-cont" id="footer-flex">
            <a class="footer-link" href="" target="_blank">
                <img width="100rem" src="{% static 'img/linked-in.png' %}" 
                    alt="LinkedIn" class="icon-footer">
            </a>
            <a class="footer-link" href="" target="_blank">
                <img width="100rem" src="{% static 'img/github.png' %}" 
                    alt="Github" class="icon-footer">
            </a>
            <a class="footer-link" href="" target="_blank">
                <img width="100rem" src="{% static 'img/telegram.png' %}" 
                    alt="Telegram" class="icon-footer">
            </a>
        </div>
    </footer>
</body>
</html>